@import '../../../vars.scss';
.dropdown {
	position: relative;
	cursor: pointer;
	

	&__select{

		@include fontsStyles;

	}
	&__error{

		@include errorMessage;

	}

	&__btn {
		position: relative;
		padding: 4px 15px;
		border-radius: $borderRadius;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $elemBg;
		transition: $colorTransition;
		border: 2px solid teal;

		&-errorBorder {
			border: 2px solid $errorColor;
		}
		> input {
			@include fontsStyles;
			@include borderStyles;
			background: transparent;
			cursor: pointer;

			width: 100%;
			&::placeholder{
				color: $fcMain;
				
			}
		}
		> svg {
			font-size: $fsBg;
			color: $fcMain;
			transform: rotate(0deg);
			transition: transform 0.2s ease;
			align-self: flex-start;
		}
		.active {
			transform: rotate(-180deg);
		}
		&:hover {
			background: $hoverColor;
		}
	}
	&__content {
		background: $elemBg;
		border-radius: $borderRadius;
		margin-top: 0.7rem;
	}
	&-item {
		@include fontsStyles;
		display: flex;
		padding: 10px 15px;
		transition: $colorTransition;
		border-radius: $borderRadius;
		&:hover {
			background: $hoverColor;
		}
	}
}
