@import '../../../vars.scss';
.check {
	@include fontsStyles;
	width: 100%;
	display: inline;
	position: relative;
	left: -22%;
	border-radius: 10px;
	padding: 0 0 0 1.5rem;

	&__btn {
		cursor: pointer;
		display: inline-block;
		&:hover .check__box {
			background-image: url('../../../img/checkbox/hover.svg');
		}
	}
	&__input {
		-webkit-appearance: none;
		position: absolute;
		top: 30px;

		&:focus-visible + .check__box {
			background-image: url('../../../img/checkbox/hover.svg');
			outline: auto;
		}
		&:checked + .check__box {
			background-image: url('../../../img/checkbox/on.svg');
		}
	}
	&__box {
		margin: 0 0 0 -1.5rem;
		position: absolute;
		width: 1rem;
		height: 1rem;
		background-image: url('../../../img/checkbox/off.svg');
		&:hover {
			background-image: url('../../../img/checkbox/hover.svg');
		}
		&.active{
			background-image: url('../../../img/checkbox/on.svg');
		}
	}
}
