@import '../../vars.scss';
.form {
	max-width: 339px;
	margin: 0 auto;

	&__body {
		display: flex;
		flex-direction: column;
		> * {
			margin-bottom: 0.7rem;
		}


		&--personalInfo {

			& > :last-child {
				margin: 0 0 1.5rem 0;

			}
			> *:nth-child(5) {
				margin-bottom: 1.6rem;
			}
		}

		&--documents {
			.inputs_row {
				& > *:not(:last-child) {
					flex: 0 0 50%;
				}
			}
			> *:last-child {
				margin-bottom: 1.4rem;
			}
		}

		&--title {
			margin-top: 2rem;
			text-align: start;
			margin-bottom: 1.3rem;
			color: $fcMain;
			@media ($ScreenPhone) {
				margin-top: 1rem;
			}
		}

	}
	.flex-row {
		display: flex;

		& > *:not(:last-child) {
			margin: 0 0.5rem 0 0;
			flex: 0 0 67%;
		}
	}
}
