form {
	background-color: teal;
	padding: 30px;
	border-radius: 0.4rem;
}

.form__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 400px;
}

.form__body input {
	padding: 10px 10px;
	border-radius: 0.4rem;
	outline: none;
	border: none;
	width: 100%;
	transition: background-color 0.3s ease;
}
.form__body input:hover {
	background-color: rgb(226, 225, 225);
}

.form__body input:focus {
	background-color: rgb(197, 197, 197);
}
.form__body :not(:last-child) {
	margin: 0 0 30px 0;
}
.form__title {
	text-align: center;
	color: whitesmoke;
	letter-spacing: 1px;
	font-size: 1.4rem;
}

.form__btn {
	align-self: flex-end;
	height: 2.2rem;
	border-radius: 0.4rem;
	padding: 5px 10px;
	border: none;
	letter-spacing: 1px;

	transition: all .5s ease;
}

.form__btn:not([disabled]):hover{
	background-color: rgb(207, 207, 207);
	cursor: pointer;
}

.form__btn:not([disabled]):active {
	background-color: rgb(168, 168, 168);
}

.label {
	font-size: 0.8rem;
	color: rgb(0, 53, 53);
	position: absolute;
	left: 30px;
	font-weight: bold;
}

.email__label {
	top: 25%;
}

.password__label {
	top: 47%;
}

.label__show {
	display: none;
}
.label__hide {
	display: block;
}
