@import '../../index.scss';

.form__title {
	font-size: $fsBg;
	line-height: 123%;
	/* identical to box height */
	letter-spacing: 0.01em;
	font-weight: 300;
}

.form__subtitle {
	font-weight: 500;
	font-size: $fsSm;
	line-height: 120%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 0 1.5rem 0;
}
