@import '../../vars.scss';

.form__title {
	font-size: $fsBg;
	line-height: 120%;
	letter-spacing: 0.01em;
	font-weight: 300;
	@media ($ScreenSM) {
		font-size: $fsMd;	
	}
	
}

.form__subtitle {
	@include fontsStyles;
	margin: 0 0 1.5rem 0;
}
