@import '../../vars.scss';

.form__title {
	@include fontsStyles;
	font-weight: 300;
	@media ($ScreenLaptop) {
		font-size: $fsBg;	
	}
	
}

.form__subtitle {
	@include fontsStyles;
	margin: 0 0 1.5rem 0;
}
