@import '../../../vars.scss';
.btn {
	@include fontsStyles;

	background-color: $elemBg;
	height: 2.8rem;
	font-size: $fsSm;
	padding: 0 30px;
	border: none;
	outline: none;
	transition: $colorTransition;
	&:disabled {
		background: hsla(0, 45%, 45%, 0.432);
		// border: 5px solid rgba(255, 0, 0, 0.521);
		&:hover {
			background: hsla(0, 45%, 45%, 0.432);
		}


	}
	&:hover {
		background: $hoverColor;
	}
	&:active {
		background: $activeColor;
	}

	cursor: pointer;
}
