@import '../../../vars.scss';

.inputBlock {
	position: relative;
	// flex-direction: row-reverse;
	&__errorMessage {
		@include errorMessage;

	}

	&__item {
		@include borderStyles;
		@include fontsStyles;
		padding: 8.5px 15px;
		background: $elemBg;
		width: 100%;
		transition: $colorTransition;
		position: relative;
		border: 2px solid $elemBg;

		// &:invalid{
		// 	border: 1px solid red;
		// }

		&::placeholder {
			@include fontsStyles;
		}

		&:hover {
			background: $hoverColor;
		}
		&:focus {
			background: $focusColor;
			// border: 2px solid rgb(2, 92, 92);
		}
	}
	&__errorBorder {
		border: 2px solid $errorColor;
		@media ($ScreenLaptop) {
			border: 2px solid $elemBg;
		}
	}
}
