@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import './vars.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-family: 'Montserrat';
	font-size: 15px;
}

body {
	background: teal;
	// background-position: center;
	color: azure;
	// height: 100vh;
	// overflow: hidden;
	&::-webkit-scrollbar{
		display: none;
	}
}


