// Typography
$ff: Montserrat;

$fsSm: 1rem;
$fsMd: 1.34rem;
$fsBg: 1.8rem;
$fsError: 0.85rem;

// Colors

$fcMain: rgba(255, 255, 255, 0.8);
// $elemBg: rgba(165, 212, 238, 0.233);
$elemBg: #269399;
$hoverColor: rgb(50, 159, 165);
$focusColor: rgba(165, 212, 238, 0.116);
$activeColor: rgba(165, 212, 238, 0.137);
$errorColor: rgb(255, 217, 0);

// Ofther
$borderRadius: 10px;
$colorTransition: background-color 0.2s ease;

//Media
$ScreenPhone: 'min-width: 320px';
$ScreenTablet: 'min-width: 600px';
$ScreenLaptop: 'min-width: 801px';
$ScreenDesktop: 'min-width: 1025px';



// Mixins

@mixin fontsStyles {
	font-size: $fsSm;
	letter-spacing: 0.02em;
	color: $fcMain;
	line-height: 120%;
	font-family: Montserrat;
}

@mixin borderStyles {
	border: none;
	border-radius: 10px;
	outline: none;
}

@mixin flexCentering {
	display: flex;
	justify-content: center;
	align-items: center;
}


@mixin errorMessage {
	@include borderStyles;
	@include flexCentering;
	transition: opacity 1s ease;
	color: $errorColor;
	left: -220px;
	position: absolute;
	font-size: $fsError;
	pointer-events: none;
	top: -20px;
	position: absolute;
	background: rgba(2, 97, 97, 0.692);
	width: 200px;
	height: 39px;
	line-height: 120%;
	border-radius: 7px;
	padding: 0 10px;
	display: none;
	@media ($ScreenLaptop) {
		display: flex;
	}

	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		z-index: 1;
		border-style: solid;
		border-width: 15px 0 0 15px;
		border-color: transparent transparent transparent rgba(2, 97, 97, 0.692);
		top: 65%;
		right: -15px;
		margin-top: -7.5px;
	}
}
